/****************************************************************************


dd.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define object	1
#define Objectdef	256




object RCDATA "../a32/object.bin"


